
*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color:#ffff;
    padding: 10px 10px;
    border-bottom:1px solid #c4ccde;
}
.sidebar{
    width: 15rem;
    height: calc(100vh - 52px);
    border-right:1px solid #c4ccde;
    
}
.sidebar ul{
    list-style:none;
    padding:1rem 2rem;
}
.sidebar li{
    margin-bottom: 1rem;
}

.sidebar li a{
    text-decoration: none;
}

.flex {
    display: flex;
}
.content {
    width:100%
}

.active {
    background-color:#c4ccde ;
}